@font-face {
  font-family: 'PFDinDisplayPro-Light';
  src: url('fonts/PFDinDisplayPro-Light.ttf');
}
@font-face {
  font-family: 'PFDinDisplayPro-Reg';
  src: url('fonts/PFDinDisplayPro-Reg.ttf');
}
@font-face {
  font-family: 'PFDinDisplayPro-Italic';
  src: url('fonts/PFDinDisplayPro-Italic.ttf');
}
@font-face {
  font-family: 'PFDinDisplayPro-XThin';
  src: url('fonts/PFDinDisplayPro-XThin.ttf');
}
@font-face {
  font-family: 'PFDinDisplayPro-Thin';
  src: url('fonts/PFDinDisplayPro-Thin.ttf');
}
@font-face {
  font-family: 'PFDinDisplayPro-Med';
  src: url('fonts/PFDinDisplayPro-Med.ttf');
}
* {
  margin: 0;
}
header {
  max-width: 1920px;
  margin: auto;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 20px;
}
header > nav {
  border-bottom: 1px solid #e5e5e5;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 15px;
}
header > nav ul li {
  list-style-type: none;
  display: inline-block;
}
header > nav ul li > a {
  line-height: 18px;
  font-size: 18px;
  text-decoration: none;
  color: #4d4d4d;
  padding: 43px;
  font-family: 'PFDinDisplayPro-Light';
  position: relative;
}
header > nav ul li > a:hover {
  color: #da0000;
}
header > nav ul li > a:hover::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #da0000;
  position: absolute;
  top: 61px;
  left: 44px;
}
header > nav ul li > a:hover:before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 1px;
  background: #da0000;
  position: absolute;
  top: 63px;
  left: 44px;
}
header > div {
  max-width: 1180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header > div .links {
  max-width: 147px;
}
header > div .links > div {
  margin-top: 30px;
  margin-right: 14.3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #777777;
  border-radius: 50%;
}
header > div .links > div > img {
  margin: 7px auto;
}
header > div > img {
  width: 208px;
  height: 66px;
  margin: 17px 297px 0 0 ;
}
header > div .telephone {
  font-size: 25px;
  position: relative;
  margin-left: 65px;
  margin-top: 32px;
  font-family: 'PFDinDisplayPro-Reg';
}
header > div > button {
  margin-top: 21px;
  margin-left: 43px;
  width: 205px;
  height: 50px;
  font-size: 20px;
  font-family: 'PFDinDisplayPro-Light';
  background: none;
  border: 1px solid #da0000;
  color: #da0000;
  outline: none;
}
header > div > button:hover {
  background: #da0000;
  border: none;
  color: white;
}
.section-1 {
  max-width: 1920px;
  margin: auto;
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
}
.section-1 .main-block {
  max-width: 1180px;
  margin: auto;
}
.section-1 .main-block p {
  padding-top: 30px;
  margin-bottom: -11px;
  padding-left: 38px;
  font-size: 130px;
  font-family: 'PFDinDisplayPro-XThin';
  color: white;
}
.section-1 .main-block p:nth-child(2) {
  font-size: 30px;
  font-family: 'PFDinDisplayPro-Thin';
  color: white;
  padding: 0 58px 0;
}
.section-2 {
  max-width: 1920px;
  margin: auto;
  padding-bottom: 20px;
}
.section-2 p:nth-child(1) {
  font-size: 50px;
  font-family: 'PFDinDisplayPro-XThin';
  text-align: center;
  padding-top: 62px;
  position: relative;
}
.section-2 p:nth-child(1):after {
  content: '';
  display: inline-block;
  width: 160px;
  height: 2px;
  background: #e5e5e5;
  position: absolute;
  margin: auto;
  top: 166px;
  left: 0;
  bottom: 0;
  right: 0;
}
.section-2 p:nth-child(1):before {
  content: '';
  display: inline-block;
  width: 243px;
  height: 2px;
  background: #e5e5e5;
  position: absolute;
  margin: auto;
  top: 172px;
  left: 0;
  bottom: 0;
  right: 0;
}
.section-2 .flex-container {
  padding-top: 10px;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.section-2 .flex-container .box {
  max-width: 364px;
  margin-top: 60px;
}
.section-2 .flex-container .box .news-img {
  width: 375px;
  height: 268px;
  outline: 10px solid rgba(255, 255, 255, 0.5);
  outline-offset: -10px;
}
.section-2 .flex-container .box .title {
  padding-top: 14px;
  font-size: 23px;
  font-family: 'PFDinDisplayPro-Med';
}
.section-2 .flex-container .box .date {
  padding-top: 6px;
  font-size: 18px;
  color: #999999;
}
.section-2 .flex-container .box .text {
  padding-top: 10px;
  font-size: 18px;
  font-family: 'PFDinDisplayPro-Med';
}
.section-2 .flex-container .box button {
  margin-top: 20px;
  width: 130px;
  height: 35px;
  color: #da0000;
  background: none;
  border: none;
  border-bottom: 1px solid #da0000;
  border-left: 1px solid #da0000;
}
.section-2 .flex-container .box button:hover {
  border: none;
  background: #da0000;
  color: white;
}
footer {
  background: #f2f2f2;
  max-width: 1920px;
  margin: auto;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 20px;
}
footer > nav {
  padding-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  max-width: 1280px;
  margin: auto;
  padding-bottom: 15px;
}
footer > nav ul li {
  list-style-type: none;
  display: inline-block;
}
footer > nav ul li > a {
  line-height: 18px;
  font-size: 18px;
  text-decoration: none;
  color: #4d4d4d;
  padding: 43px;
  font-family: 'PFDinDisplayPro-Light';
  position: relative;
}
footer > nav ul li > a:hover {
  color: #da0000;
}
footer > nav ul li > a:hover::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #da0000;
  position: absolute;
  top: 61px;
  left: 44px;
}
footer > nav ul li > a:hover:before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 1px;
  background: #da0000;
  position: absolute;
  top: 63px;
  left: 44px;
}
footer > div {
  max-width: 1180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer > div .links {
  max-width: 147px;
  left: 188px;
  top: 26px;
  position: relative;
}
footer > div .links > div {
  margin-top: 30px;
  margin-right: 14.3px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #777777;
  border-radius: 50%;
}
footer > div .links > div > img {
  margin: 7px auto;
}
footer > div .image-block {
  margin-right: 200px;
}
footer > div .image-block > img {
  width: 208px;
  height: 66px;
  margin: 20px 20px 0 0 ;
}
footer > div .image-block > p {
  display: inline-block;
  width: 220px;
  text-align: left;
  font-size: 25px;
  font-family: 'PFDinDisplayPro-Italic';
  color: #999999;
}
footer > div .telephone {
  font-size: 25px;
  margin-left: -50px;
  margin-top: 16px;
  font-family: 'PFDinDisplayPro-Reg';
}
footer > div > button {
  position: relative;
  top: 32px;
  left: 24px;
  width: 205px;
  height: 50px;
  font-size: 20px;
  font-family: 'PFDinDisplayPro-Light';
  background: none;
  border: 1px solid #da0000;
  color: #da0000;
  outline: none;
}
footer > div > button:hover {
  background: #da0000;
  border: none;
  color: white;
}
